*{
    box-sizing: border-box;
}

.login-title {
    margin-top: 2rem;
    margin-left: 2rem;
}

.login-form {
    text-align: center;
}

div.login-form:first-of-type{
    margin-top: 1.5rem;
}

.login-field {
    margin-bottom: 2rem;
}